<div class="homepage">
  {% comment %} <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo"> {% endcomment %}
  {% comment %} <h1 class="text-center">I'm Try to Implementation Tailwind CSS on Shopify!</h1> {% endcomment %}

  <section id="contact">
        <div
          class="contact bg-primary800 py-24 flex text-center flex-col justify-center items-center"
        >
          <article class="">
            <h2
              class="text-neutral-50 font-dmserif text-h2 font-semibold px-72"
            >
              Jadikan setiap momen berkesan dengan layanan terbaik dari kami.
            </h2>
            <p class="text-p1 text-neutral-50 mt-12">
              Kami siap membantu menjawab semua pertanyaan Anda mengenai bucket
              snack dan bunga istimewa kami.
            </p>
          </article>
          <div class="social-media flex justify-center gap-12 mt-16">
            {% comment %} <img src="assets/icon/ic_instagram.png" alt="" width="54" />
            <img src="assets/icon/ic_whatsapp.png" alt="" width="54" />
            <img src="assets/icon/ic_tiktok.png" alt="" width="54" /> {% endcomment %}
          </div>
        </div>
      </section>
</div>