<div class="homepage">
  {% comment %} <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo"> {% endcomment %}
  <h1 class="text-center">I'm Try to Implementation Tailwind CSS on Shopify!</h1>
</div>